.space-8 {
  padding-top: 0%;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.ml-230 {
margin-left: 180px;
background-color: #f7f7f7;
}

.ml-0 {
  margin-left: 10px;
}

@media (max-width: 768px){
  .ml-230 {
      margin-left: 0px;
      }
      
      .ml-0 {
        margin-left: 0px;
      }
}


.ss{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.sss{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vh;
}

.opacity-l{
  transition: .5s;
  opacity: 0;
}

.opacity-g{
  display: none;
}