  .app-header{
    height: 60px;

    
}

.App-logo {
    height: 25px;
}

.headl{
    height: 50px;
    transition: 0.3s ease;
}


.Flex_align_center{
    width: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
 }

 .margin_left{
     margin-left: 5px;
 }

.headlogo{
    height: 50px !important;
    
}

.app-log {
    height: 30px;
    animation: App-logo-spin infinite 20s linear;
    margin-top: 12px;
    g{
        fill: black;
    }

}

@media (min-width: 868px){
    .headl{
        height: 140px ;
        transition: 0.3s ease;      
    }
    
    .headlogo{
        height: 60px !important;
        padding-top: 0px !important;
    }
}

  .dropdown{
      cursor: pointer !important;
  }


  @media (max-width: 868px){

    .app-header{

        .app-log {
            g{
                fill: white;
            }
        
        }
    }


}