/********************** STYLES **********************/

//M O B I L E
//****************
//****************
.Login-l{
    transition: 0.2s;
}
.baseLogin{
    width: 100%;
    height: 100vh;
    background-color: white;
    min-width: 250px;

    display: flex;
    justify-content: center  !important;
    align-items: center !important;

    .baseLogin-body{
        background-image: url(../../assets/Others/login2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center  !important;
        align-items: center !important;

        .base-logo{
            position: absolute;
            top: 15%;
            left: 0;
            width: 100%;
            height: 100px;
            text-align: center;
            display: flex;
            justify-content: center;

            h1{
                font-size: 10px;
                line-height: 45px;
            }

            h2{
                display: none;
            }

            .row-logo{
                position: absolute;
                z-index: 100;
                width: 80px;
                height: 80px;
                // margin-top: -20px;
                animation: App-logo-spin infinite 20s linear;
                margin-top: -50px;
                
                g{
                    fill: black;
                }
            }
        }

        .n-l1{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center  !important;
            align-items: center !important; 
        }

        .n-l2{
            width: 100%;
            height: 100vh;
            justify-content: center;
            // background-color: white;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center !important; 

            h2{
                font-size: 17px;
                margin-top: -20px;
                margin-bottom: 30px;
                margin-left: 15px;
                font-weight: 400;
            }
            h2::before{
                content: "";
                width: 30px;
                height: 2px;
                background-color: #1a1a1a;
                position: absolute;
                margin-top: 24px;
            }

            .form-group{
                width: 100%;
            }

            .n-l3{

                .control-label{
                    width: 100%;
                    display: none
                }

                .buttom-l{
                    width: 100%;
                    display: flex;
                    
                    .fa{
                        height: 50px;
                        line-height: 40px;
                        position: absolute;
                        margin-left: 20px;
                    }

                    .form-control{
                        border: none !important;
                        border-bottom: 2px solid #00000011 !important;
                        padding-left: 40px;
                        height: 40px;
                        border-radius: 25px;
                        transition: 0.4s ease-out !important;
                        font-weight: 600;
                        font-size: 12px;
                        background-color: white;
                        margin-bottom: 10px;
                        width: 220px;
                        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.00), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.00);
                        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.00), 0 1px 15px 0 rgba(0, 0, 0, 0.00), 0 3px 13px -2px rgba(0, 0, 0, 0.00);
                    }

                    .form-control:focus {
                        border-bottom: 2px solid #000000bd !important;
                        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.00), 0 1px 15px 0 rgba(0, 0, 0, 0.04), 0 3px 13px -2px rgba(0, 0, 0, 0.00);
                        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.00), 0 1px 15px 0 rgba(0, 0, 0, 0.00), 0 3px 13px -2px rgba(0, 0, 0, 0.00);
                    }
                }
            }

            .btn-l-l{
                width: 100%;
                display: flex;
                justify-content: center;
                
                .btn-l{
                    width: 110px;
                    border-radius: 50px;
                    margin-top: 20px;
                    background: #ECB86C;
                    border: 1px solid #ECB86C;
                }

                .btn-l:hover, .btn-l:focus, .btn-l::selection{
                    background: #1a1a1a !important;
                    border: 1px solid #1a1a1a !important;
                    color: white !important;
                }

                .btn-l-new{
                    transition: 0.2s;
                    width: 50px;
                    height: 50px;
                    overflow: hidden;
                    background: none;
                    border: none;
                    margin-left: -3px;

                    .fa{
                        font-size: 37px;
                        margin-left: -3px;
                        color: #1a1a1abb;
                    }
                }

                .btn-l-new:hover, .btn-l-new:focus{
                    background: transparent !important;
                    border: 0px solid white !important;
                    color: rgb(56, 56, 56) !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}


@media (min-width: 450px){

    .baseLogin{
        background-image: url(../../assets/Others/home3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        .baseLogin-body{
            background-image: none;
            background-color: rgba(34, 34, 34, 0.856);
            width: 100%;
            height: 100vh;
            padding: 20px;
            display: flex;
            justify-content: center  !important;
            align-items: center !important;

            .base-logo{
                position: absolute;
                top: 12%;
                left: 0;
                width: 100%;
                height: 100px;

                h1{
                    color: white;
                }

                .row-logo{
            
                    g{
                        fill: white;
                    }
                }
            }
    
            .row-rl{
                display: none;
            }
    
            .n-l1{
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center  !important;
                align-items: center !important; 
            }
    
            .n-l2{
                max-width: 300px;
                border-radius: 4px;
                height: auto;
                justify-content: center;
                padding: 0px;
                padding-top: 35px;
                padding-bottom: 35px;
                background: white;

                h2{
                    display: none;
                }
            }

            .n-l3{

                .buttom-l{
                    
                    .fa{
                        height: 50px;
                        line-height: 49px;
                        position: absolute;
                        margin-left: 10px;
                    }

                    .form-control{
                        border: none !important;
                        border-bottom: 2px solid #00000011 !important;
                        padding-left: 30px;
                        height: 50px;
                        border-radius: 1px !important;
                        transition: 0.4s ease-out !important;
                        font-weight: 600;
                        background-color: white;
                    }

                    .form-control:focus {
                        border-bottom: 2px solid #000000c9 !important;
                    }
                }
            }
        }
    }
}

//D E S K T O P AND T A B L E T
//********************************
//********************************

@media (min-width: 700px){
    .Login-l{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center  !important;
        align-items: center !important;
        background-image: url(../../assets/Others/home3.jpg);
        background-repeat: no-repeat;
        background-size: cover;

    .baseLogin{
        background-image: none;
        background-color: rgba(34, 34, 34, 0.856);
    
        .baseLogin-body{
            background-image: none;
            background-color: transparent;
            max-width: 500px;
            height: 400px;
            padding: 0px;
            display: flex;
            justify-content: center  !important;
            align-items: center !important;

            .base-logo{
                position: relative;
                top: 0%;
                left: 0px;
                width: 50%;
                height: 245px;
                background: #ECB86C;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;

                h1{
                    margin-top: 110px;
                    color: black
                }

                h2{
                    display: block;
                    font-size: 8px;
                    font-weight: 900;
                    color: rgba(20, 20, 20, 0.726);
                    line-height: 1.5;
                    text-transform: uppercase;
                    margin-top: 225px;
                    margin-left: 20px;
                }
    
                .row-logo{
                    position: absolute;
                    z-index: 100;
                    width: 80px;
                    height: 80px;
                    animation: App-logo-spin infinite 20s linear;
                    margin-top: 60px;
                    
                    g{
                        fill: black;
                    }
                }
            }
    
            .row-rl{
                display: none;
            }
    
            .n-l1{
                width: 50%;
                display: flex;
                justify-content: center  !important;
                align-items: center !important; 
            }
    
            .n-l2{
                border-radius: 4px;
                height: 270px;
                filter: drop-shadow(-8px 0px 5px rgba(0, 0, 0, 0.212));
            }

            .n-l3{

                .buttom-l{

                    .form-control{
                        width: 200px !important;
                    }
                }
            }
        }
    }
}
}

@media (min-width: 1000px){
    .Login-l{

    .baseLogin{
    
        .baseLogin-body{
            max-width: 720px;
            height: 400px;

            .base-logo{
                height: 350px;

                h2{
                    display: block;
                    font-size: 8px;
                    font-weight: 900;
                    color: rgba(20, 20, 20, 0.726);
                    line-height: 1.5;
                    text-transform: uppercase;
                    margin-top: 325px;
                    margin-left: 20px;
                }

                h1{
                    margin-top: 160px;
                }
    
                .row-logo{
                    margin-top: 110px;
                    
                    g{
                        fill: black;
                    }
                }
            }
    
            .n-l1{
                width: 50%;
                display: flex;
                justify-content: center  !important;
                align-items: center !important; 
            }
    
            .n-l2{
                border-radius: 4px;
                height: 380px;
                max-width: 100%;
                filter: drop-shadow(-8px 0px 5px rgba(0, 0, 0, 0.212));

                
                h2{
                    display: block;
                    font-size: 17px;
                    margin-top: 0px;
                    margin-bottom: 30px;
                    margin-left: 15px;
                    font-weight: 400;
                }
                h2::before{
                    content: "";
                    width: 30px;
                    height: 2px;
                    background-color: #1a1a1a;
                    position: absolute;
                    margin-top: 24px;
                }
            }

            .n-l2::before{
                height: 380.5px;
                background-color: white;
                margin-left: -201px;
                margin-top: 0.5px;
            }

            .n-l3{
                .buttom-l{

                    .form-control{
                        width: 250px !important;
                    }
                }
            }
        }
    }
}
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


/********************** Loading **********************/

.lds-roller {
    transition: 0.1s;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding-right: 50px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1a1a1a;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width:450px) and (max-height: 550px){
    .Login-l{
        min-height: 550px !important;
        .baseLogin{
            min-height: 550px !important;
        }
    }
}








  .swal2-container{
    content: "";
    position: absolute !important;
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    background: #1a1a1a2c !important;
    padding-top: 40px !important;
    padding-right: 30px !important;

    .swal2-popup.swal2-toast{
        box-shadow: 0 0 0.625em #2a2a2a !important;
        background-color: #fefefe !important;
    }

    .swal2-title{
        font-size: 12px !important;
        line-height: 0px !important;
    }

  }
